@font-face { 
   font-family: testfont;
   src: url('Nutmeg-Black.otf') format("opentype");
}

@font-face { 
   font-family: Nutria;
   src: url('Nutmeg-Book.otf') format("opentype");
}

body {
  background-color: #F8F8FF;
}

#barra_lateral {
   background-color: #DFDFE6;
}

p {
   font-size: 1.5em;
   font-family: Nutria;
   text-align: center;
  text-justify: inter-word;
}

#tabla_HTML{
  font-family: Nutria;
  text-align: center;
  display: flex;
  justify-content: center;
}

#super_titulo_imagen{
   font-family: testfont;
   font-size: 1.618em;
   text-align: center;
   background-color: #2596be;
   color: #fbbb27;
}

#titulo_imagen{
   font-size: 1.1em;
   font-family: testfont;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

#titulo_derecha{
   font-size: 1.1em;
   font-family: testfont;
   text-align: right;
}
